
<wicket:extend>
<div wicket:id="rewriteContainer">

   <div wicket:id="languageTable"></div>

   <div class="container-right">
      <a wicket:id="clearLanguage"><wicket:message key="Common.label.Clear" /></a>
   </div>

   <div wicket:id="pathDirectionTable"></div>

Selected Path
   <div>
      <div wicket:id="selectedPath"></div>
   </div>
   <div class="container-right">
      <a wicket:id="addLanguagePath"><wicket:message key="Common.label.Add" /></a>
   </div>

<hr/>
   
   <div wicket:id="languagesPathList"></div>

   <div class="btn-s">
      <input type="button" wicket:id="close" wicket:message="value:Common.label.Close" />
   </div>
</div>
</wicket:extend>

