<wicket:panel>
		<table summary="formtable">
			<tr>
				<th scope="row"><wicket:message key="Common.label.resource.Id"></wicket:message></th>
				<td><span wicket:id="idLabel"></span></td>
			</tr>
			<tr>
				<th scope="row"><wicket:message key="Common.label.resource.Name" /></th>
				<td><span wicket:id="nameLabel"></span></td>
			</tr>
			<tr>
				<th scope="row"><wicket:message key="Common.label.resource.Type" /></th>
				<td><span wicket:id="typeLabel"></span></td>
			</tr>
			<tr>
				<th scope="row"><wicket:message key="Common.label.resource.Description" /></th>
				<td><span wicket:id="descriptionLabel"></span></td>
			</tr>
			<tr>
				<th scope="row"><wicket:message key="Common.label.Languages" /></th>
				<td><span wicket:id="languagePathLabel"></span></td>
			</tr>
			<tr>
				<th scope="row"><wicket:message key="Common.label.Copyright" /></th>
				<td><span wicket:id="copyrightLabel"></span></td>
			</tr>
			<tr>
				<th scope="row"><wicket:message key="Common.label.License" /></th>
				<td><span wicket:id="licenseLabel"></span></td>
			</tr>
			<tr>
				<th scope="row"><wicket:message key="Common.label.Provider" /></th>
				<td><a wicket:id="providerLink"><span wicket:id="providerLinkLabel"></span></a><span wicket:id="noProviderLabel"></span></td>
			</tr>
			<tr>
				<th scope="row"><wicket:message key=Common.label.registration.Date /></th>
				<td><span wicket:id="registreredDateLabel"></span></td>
			</tr>
			<tr>
				<th scope="row"><wicket:message key=Common.label.LastUpdateDate /></th>
				<td><span wicket:id="updatedDateLabel"></span></td>
			</tr>
			<tr>
				<th scope="row"><wicket:message key=Common.label.Status /></th>
				<td><span wicket:id="statusLabel"></span></td>
			</tr>
		</table>
</wicket:panel>