<wicket:extend>
	<h1><wicket:message key="LanguageGridOperator.node.headline.Edit" /></h1>
	<div wicket:id="feedback" style="color:red;font-size: 12pt"></div>
	<p class="accent"><wicket:message key="LanguageGridOperator.node.table.headline.Specifications"/></p>
	<form wicket:id="form">
		<div class="table">
			<table summary="formtable">
				<tr>
	               <th><wicket:message key="Common.label.node.Id" /></th>
	               <td><div wicket:id="nodeId"></div></td>
	            </tr>
	            <tr wicket:id="profileFieldPanel"></tr>
			</table>
		</div>
		<div class="btn-s">
			<input wicket:id="cancel" type="submit" wicket:message="value:Common.label.Cancel">
			<input wicket:id="update" type="submit" wicket:message="value:Common.label.Update">
		</div>
	</form>
</wicket:extend>
