<wicket:panel>
		<tr>
			<td><a wicket:id="resourceName"><span wicket:id="labelResourceName"></span></a></td>
			<td><span wicket:id="resourceType"></span></td>
			<td><span wicket:id="languages"></span></td>
			<td><a wicket:id="provider"><span wicket:id="labelProvider"></span></a></td>
			<td><span wicket:id="status"></span></td>
			
		</tr>
		<tr>
			<td colspan="5" align="right" class="btn-area">
				<input type="submit" class="btn-on" wicket:id="register" />
			</td>
		</tr>
</wicket:panel>