<wicket:panel>
		<tr>
			<th><wicket:message key="Common.label.resource.Name" /></th>
			<th><wicket:message key="Common.label.resource.Type" /></th>
			<th>
				<wicket:message key="Common.label.Languages" /><br/>
				<div class="font-small">
				(<a wicket:id="linkLanguagePage"><wicket:message key="Common.label.lanugages.Code" /></a>)
				</div>
			</th>
			<th><wicket:message key="Common.label.Provider" /></th>
			<th><wicket:message key="Common.label.Status" /></th>
			
		</tr>
</wicket:panel>