<wicket:panel>
		<tr>
			<td><a wicket:id="resourceName"><span wicket:id="labelResourceName"></span></a></td>
			<td><span wicket:id="resourceType"></span></td>
			<td><span wicket:id="languages"></span></td>
			<td><a wicket:id="provider"><span wicket:id="labelProvider"></span></a></td>
			<td><span wicket:id="status"></span></td>
		</tr>
		<tr>
			<td colspan="5" align="right" class="btn-area">
				<input type="button" class="btn-on" wicket:id="edit" wicket:message="value:Common.label.Edit"/>
				<input type="button" class="btn-on" wicket:id="unregister" wicket:message="value:Common.label.Unregister" />
				<input type="button" class="btn-on" wicket:id="unregister-now" wicket:message="value:Common.label.Unregister" />
			 	<input type="button" class="btn-off" wicket:id="unregister-off" wicket:message="value:Common.label.Unregister" />
			 	<input type="button" class="btn-on" wicket:id="cancel" wicket:message="value:Common.label.Cancel" />
			</td>
		</tr>
</wicket:panel>