<wicket:panel>
	<div class="list-table" wicket:id="rewriteWrapper">
		<div class="navi"><div wicket:id="topNavigator1"></div></div>
		<table summary="formtable" class="list-user">
			<wicket:container wicket:id="header"></wicket:container>
			<wicket:container wicket:id="domainList">
				<wicket:container wicket:id="row"></wicket:container>
			</wicket:container>

			<wicket:container wicket:id="emptyRow"></wicket:container>
		</table>
		<div class="navi"><div wicket:id="underNavigator1"></div></div>
	</div>
</wicket:panel>