<wicket:panel>
				<tr>
					<th>
						<wicket:message key="Common.label.Endpoint"></wicket:message><br />
						<wicket:message key="Common.label.attention.Optional"></wicket:message>
					</th>
					<td class="table-in-column">
						<table>
							<tr>
								<th><wicket:message key="Common.label.user.Name" /></th>
								<td><input class="form-text-auto-width" wicket:id="userName" type="text" /></td>
							</tr>
							<tr>
								<th><wicket:message key="Common.label.Password" /></th>
								<td><input class="form-text-auto-width" wicket:id="password" type="password" /></td>
							</tr>
							<tr>
								<th><wicket:message key="Common.label.password.Confirm" /></th>
								<td><input class="form-text-auto-width" wicket:id="confirm" type="password" /></td>
							</tr>
						</table>
					</td>
				</tr>
</wicket:panel>
