<wicket:panel>
			<tr>
				<th scope="row"><wicket:message key="Common.label.Endpoint"></wicket:message></th>
				<td class="table-in-column">
					<ul wicket:id="rewrite">
					<li class="table-repeater" wicket:id="endpointList">
						<table>
							<tr wicket:id="urlContainer">
								<th scope="row"><wicket:message key="Common.label.URL"></wicket:message></th>
						 		<td class="break-all">
						 			<span wicket:id="urlLabel"></span>
						 			<input wicket:id="url" class="form-text-auto-width" type="text"/><br/>
						 		</td>
							</tr>
							<tr wicket:id="userNameContainer">
								<th scope="row">
									<wicket:message key="Common.label.user.Name" />
								</th>
								<td>
									<span wicket:id="userNameLabel"></span>
									<input class="form-text-auto-width" wicket:id="userName" type="text" /><br />
								</td>
							</tr>
							<tr wicket:id="passwordContainer">
								<th scope="row">
									<wicket:message key="Common.label.Password" />
								</th>
								<td>
									<span wicket:id="passwordLabel"></span>
									<input class="form-text-auto-width" wicket:id="password" type="password" /><br />
								</td>
							</tr>
							<tr wicket:id="confirmContainer">
								<th scope="row"><wicket:message key="Common.label.password.Confirm" /></th>
								<td>
									<input class="form-text-auto-width" wicket:id="confirm" type="password" /><br />
								</td>
							</tr>
						</table>
						<div class="container-left">
							<a wicket:id="remove"><wicket:message key="Common.label.Remove" /></a>
						</div>
					</li>
					</ul>
					<div class="container-right">
						<a wicket:id="add"><wicket:message key="Common.label.Add" /></a>
					</div>
			 	</td>
			</tr>
</wicket:panel>
