<wicket:panel>
		<tr>
			<td><a wicket:id="provider"><span wicket:id="labelProvider"></span></a></td>
			<td><span wicket:id="homePage"></span></td>
			<td><span wicket:id="accessRight"></span></td>
		</tr>
		<tr>
			<td colspan="3" align="right" class="btn-area">
				<input class="btn-on" wicket:id="permit" type="submit" wicket:message="value:ProvidingServices.language.service.button.Permit"/>
				<input class="btn-on" wicket:id="prohibit" type="submit" wicket:message="value:ProvidingServices.language.service.button.Prohibit"/>
				<input class="btn-on" wicket:id="limit" type="submit" wicket:message="value:ProvidingServices.language.service.button.Limit"/>
			</td>
		</tr>
</wicket:panel>