<wicket:panel>
	<table  summary="formtable">
		<tr>
			<th scope="row"><wicket:message key="Common.label.node.Id"></wicket:message></th>
			<td><span wicket:id="nodeId"></span><br />
			</td>
		</tr>
		<tr>
			<th scope="row"><wicket:message key="Common.label.node.Name" /></th>
			<td><span wicket:id="serverName"></span><br />
			</td>
		</tr>
		<tr>
			<th scope="row"><wicket:message key="Common.label.URL" /></th>
			<td><span wicket:id="url"></span><br />
			</td>
		</tr>
		<tr>
			<th><span><wicket:message key="Common.label.Specification" /></span></th>
			<td>
				<div class="table-in-column">
				 <table>
					<tr>
						<th scope="row"><wicket:message key="Common.label.OS" /></th>
						<td><span wicket:id="serverOs"></span></td>
					</tr>
					<tr>
						<th scope="row"><wicket:message key="Common.label.CPU" /></th>
						<td><span wicket:id="serverCpu"></span></td>
					</tr>
					<tr>
						<th scope="row"><wicket:message key="Common.label.Memory" /></th>
						<td><span wicket:id="serverMemory"></span></td>
					</tr>
					<tr>
						<th scope="row"><wicket:message key="Common.label.SpecialNote" /></th>
						<td><span wicket:id="specialNote"></span></td>
					</tr>
    			 </table>
				</div>
			</td>
		</tr>
		<tr>
			<th scope="row"><wicket:message key="Common.label.Provider" /></th>
			<td><a wicket:id="providerLink"><span wicket:id="providerLinkLabel"></span></a></td>
		</tr>
		<tr>
			<th scope="row"><wicket:message key="Common.label.registration.Date" /></th>
			<td><span wicket:id="registration"></span></td>
		</tr>
		<tr>
			<th scope="row"><wicket:message key="Common.label.LastUpdateDate" /></th>
			<td><span wicket:id="updateDate"></span></td>
		</tr>
		<tr>
			<th scope="row"><wicket:message key="Common.label.Status" /></th>
			<td><span wicket:id="status"></span></td>
		</tr>
	</table>
</wicket:panel>