<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>	
	<!-- ************* Job define ************** -->
	<bean name="PerMinutesJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="jp.go.nict.langrid.management.web.backend.job.PerMinutesJob" />
	</bean>

	<!-- value=sec min hour day month year
      http://www.opensymphony.com/quartz/api/org/quartz/CronTrigger.html
   -->
	<!-- 0,30 * * * * ? -> execute 0sec and 30sec-->
	<!-- 0/5 * * * * ? -> execute 0sec by 5sec time -->
	<bean id="PerMinutesJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="PerMinutesJob" />
		<property name="cronExpression" value="0 * * * * ?" />
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="PerMinutesJobTrigger" />
			</list>
		</property>
	</bean>
</beans>