<wicket:panel>
	<div class="table-in-column">
	<table>
		<wicket:container wicket:id="combinationContainer">
		<tr><th colspan=2 class="lang-header"><wicket:message key="ServiceProfile.label.language.path.Pair" /></th></tr>
		<tr wicket:id="combinations">
			<td class="lang-position">-</td>
			<td class="lang-content"><span wicket:id="combinationPairs">(Japanese), (English)...</span></td>
		</tr>
		</wicket:container>
		<wicket:container wicket:id="multihopContainer">
		<tr><th colspan=2 class="lang-header"><wicket:message key="ServiceProfile.label.language.path.Multihop" /></th></tr>
		<tr wicket:id="multihops">
			<td class="lang-position">-</td>
			<td class="lang-content"><span wicket:id="multihopLanguages">(Japanese), (English)...</span></td>
		</tr>
		</wicket:container>
		<wicket:container wicket:id="multidirectionalContainer">
		<tr><th colspan=2 class="lang-header"><wicket:message key="ServiceProfile.label.language.path.Directional" /></th></tr>
		<tr wicket:id="multidirectionals">
			<td class="lang-position">-</td>
			<td class="lang-content"><span wicket:id="multidirectionalPairs">(Japanese), (English)...</span></td>
		</tr>
		</wicket:container>
		<wicket:container wicket:id="singleContainer">
		<tr><th colspan=2 class="lang-header"><wicket:message key="ServiceProfile.label.language.path.Single" /></th></tr>
		<tr wicket:id="singles">
			<td class="lang-position">-</td>
			<td class="lang-content"><span wicket:id="singleLanguages">(Japanese), (English)...</span></td>
		</tr>
		</wicket:container>
		<wicket:container wicket:id="otherContainer">
      <tr><td colspan="2"><span wicket:id="otherLanguage">(Japanese), (English)...</span></td></tr>
		</wicket:container>
	</table>
   <span wicket:id="noLanguage"></span>
	</div>
</wicket:panel>
