<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="Keywords" content=" " />
		<meta name="Description" content="" />
		<title><span wicket:id="pageTitleLabel">Service Grid</span>&nbsp;<wicket:message key="Common.label.system.ID"/></title>
		<link rel="stylesheet" type="text/css" href="css/import.css" media="all" />
		<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
	</head>
	<body>
		<wicket:child>Page contents</wicket:child>
	</body>
</html>