<wicket:panel>
<table>
	<wicket:container wicket:id="invocationRepeater">
		<tr>
			<th colspan=2><span wicket:id="labelCount"></span></th>
		</tr>
		<wicket:container wicket:id="information">
			<tr>
				<th><wicket:message key="ServiceProfile.label.service.name.Invocation" /></th>
				<td><span wicket:id="labelInvocationName"></span></td>
			</tr>
			<wicket:container wicket:id="serviceInformation">
				<tr wicket:id="serviceIdSelect">
					<th><wicket:message key="Common.label.service.Id" /></th>
					<td><a wicket:id="invocationServiceProfileLink"><span wicket:id="labelInvocationServiceId"></span></a></td>
				</tr>
				<tr wicket:id="serviceNameSelect">
					<th><wicket:message key="Common.label.service.Name" /></th>
					<td><span wicket:id="labelInvocationServiceName"></span></td>
				</tr>
				<tr>
					<th><wicket:message key="Common.label.service.Type" /></th>
					<td><span wicket:id="labelInvocationServiceType"></span></td>
				</tr>
			</wicket:container>
		</wicket:container>
	</wicket:container>
</table>
</wicket:panel>