<wicket:panel>
<div wicket:id="radioGroup">
<div class="table-in-column">
	<table>
		<tr>
			<td colspan='2'>
				<label>
				<input wicket:id="default" type="radio"/>
				<wicket:message key="UserSettings.label.period.Default">
					Default Available period, 24 hours from now.
				</wicket:message>
				</label>
			</td>
		</tr>
		<tr>
			<td>
				<div class="form-date">
					<label>
					<input type="radio" class="radio" wicket:id="manual" />
					<wicket:message key="UserSettings.label.From" />:
					</label>
					&nbsp;<input type="text" wicket:id="startDate" />&nbsp;00:00
					&nbsp;&nbsp;<wicket:message key="UserSettings.label.To" />:
					&nbsp;<input type="text" wicket:id="endDate" />	&nbsp;23:59
				</div>
			</td>
		</tr>
	</table>
</div>
</div>
</wicket:panel>