<wicket:extend>
	<h1><wicket:message key="LanguageGridOperator.domainSettings.headline.Edit" /></h1>
	<div wicket:id="feedback"></div>
	<form wicket:id="form">

		<p class="accent"><wicket:message key="LanguageGridOperator.domainSettings.headline.DomainSettings" /></p>
		<div class="table">
			<table>
				<tr>
					<th><wicket:message key="LanguageGridOperator.domainSettings.table.DomainId" /></th>
					<td><span wicket:id="id"></span></td>
				</tr>
				<tr>
					<th><wicket:message key="LanguageGridOperator.domainSettings.table.DomainName" /></th>
					<td><input class="form-text" wicket:id="name"/></td>
				</tr>
				<tr>
					<th><wicket:message key="LanguageGridOperator.domainSettings.table.DomainDescription" /></th>
					<td><textarea rows="5" class="form-text" wicket:id="description"></textarea></td>
				</tr>
			</table>
		</div>

		<div class="btn-s">
			<input type="button" wicket:id="cancel" wicket:message="value:Common.label.Cancel" />
			<input type="submit" wicket:id="edit" wicket:message="value:Common.label.Edit" />
		</div>
	</form>
</wicket:extend>
