<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Reverse Proxy Sample Web Application</display-name>

  <filter>
    <filter-name>LangridAuthenticator</filter-name>
    <filter-class>jp.go.nict.langrid.servlet.filter.auth.langrid.LangridAuthenticator</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LangridAuthenticator</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>SentinelAuthenticator</filter-name>
    <filter-class>jp.go.nict.langrid.servlet.filter.auth.SentinelAuthenticator</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SentinelAuthenticator</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>ReverseProxy</servlet-name>
    <servlet-class>jp.go.nict.langrid.servlet.langrid.AuthenticatingReverseProxyServlet</servlet-class>
    <init-param>
      <param-name>mappings</param-name>
      <param-value>
        /,http://host/path/to/galaxy
      </param-value>
    </init-param>
    <init-param>
      <param-name>passRemoteUser</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>additionalHeaders</param-name>
      <param-value>
        GX_SECRET:SECRET_HERE
      </param-value>
    </init-param>
    <init-param>
      <param-name>debugPrint</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReverseProxy</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
