<wicket:panel>
<form wicket:id="form">
   <div wicket:id="radioGroup">
      <label>
         <input wicket:id="forAllUsers" type="radio"/>
         <wicket:message key="ProvidingServices.language.service.label.accesible.AllUsers">For All Users</wicket:message>
      </label>
      <label>
         <input wicket:id="membersOnly" type="radio"/>
         <wicket:message key="ProvidingServices.language.service.label.accesible.MembersOnly">Members Only</wicket:message>
      </label>
   </div>
</form>
</wicket:panel>