<wicket:extend>
	<div wicket:id="feedback"></div>
	<p class="accent"><span wicket:id="message" /></p>
	<form wicket:id="form">
		<div class="table">
			<table  summary="formtable" >
				<tr>
					<th scope="row"><wicket:message key="Common.label.password.Current" /></th>
					<td><input class="form-text" wicket:id="oldPassword" type="password" maxlength="254" /><br />
					</td>
				</tr>
				<tr>
					<th scope="row"><wicket:message key="Common.label.password.Confirm.New" /></th>
					<td><input class="form-text" wicket:id="newPassword" type="password" maxlength="254" /><br />
					<wicket:message key="Common.message.attention.input.Password"></wicket:message></td>
				</tr>
				<tr>
					<th scope="row"><wicket:message key="Common.label.password.Confirm.new.Confirm" /></th>
					<td><input class="form-text" wicket:id="newPasswordConfirm" type="password" maxlength="254" /><br />
					<wicket:message key="Common.message.attention.input.Password"></wicket:message></td>
				</tr>
			</table>
		</div>
		<div class="btn-s">
			<input wicket:id="noChange" type="button" wicket:message="value:Common.label.Cancel">
			<input type="submit" wicket:message="value:Common.label.Change" />
		</div>
	</form>
</wicket:extend>
