<wicket:panel>
	<div wicket:id="rewriteWrapper">
		<div class="table-in-column" wicket:id="invocationRepeater">
			<table>
				<!-- <tr><th colspan=2>1.</th></tr> -->
				<tr><th colspan=2 wicket:id="invocationNumber">1.</th></tr>
				<tr>
   				<th><wicket:message key="ServiceProfile.label.service.name.Invocation">Invocation Name</wicket:message></th>
					<td><input type="text" class="form-text-auto-width" wicket:id="invocationName"></input></td>
				</tr>
			<tr>
				<th><wicket:message key="Common.label.service.Type">Service Type</wicket:message></th>
				<td><select wicket:id="serviceTypeChoice"></select></td>
			</tr>
			<tr wicket:id="serviceSelect">
				<th><wicket:message key="Common.label.Service"></wicket:message></th>
				<td>
					<select wicket:id="serviceChoice"></select>
					<span wicket:id="noServiceLabel">-</span>
				</td>
			</tr>			
			</table>
			<a wicket:id="deleteInvocationLink" href="#"><wicket:message key="Common.label.Remove">Remove</wicket:message></a>
		</div>
	</div>
	<br/>
	<div align="right">
		<a wicket:id="addInvocationLink" href="#"><wicket:message key="Common.label.Add">Add</wicket:message></a>
	</div>
</wicket:panel>
