<wicket:panel>
	<tr>
		<td><input type="checkbox" wicket:id="check" /></td>
		<td><span wicket:id="userId"></span></td>
		<td>
			<wicket:message key="UserSettings.label.From" />:
			&nbsp;<span wicket:id="availableStartDatetime"></span>
			&nbsp;&nbsp;<wicket:message key="UserSettings.label.To" />:
			&nbsp;<span wicket:id="availableEndDatetime"></span>
		</td>
	</tr>
	<tr>
		<td colspan="3" align="right" class="btn-area">
			<input class="btn-on" wicket:id="edit" type="submit" wicket:message="value:Common.label.Edit"/>
		</td>
	</tr>
</wicket:panel>