<wicket:panel>
<div wicket:id="rewriteWrapper" class="list-table">	
	<div class="navi"><div wicket:id="topNavigator1"></div></div>
	<table summary="formtable" >
		<wicket:container wicket:id="header"></wicket:container>
		<wicket:container wicket:id="typeList">
			<wicket:container wicket:id="row">
			</wicket:container>
		</wicket:container>
		<wicket:container wicket:id="emptyRow"></wicket:container>
	</table>
	<div class="navi"><div wicket:id="underNavigator1"></div></div>
</div>
</wicket:panel>