<wicket:panel>
		<th><wicket:message key="ServiceProfile.label.inUse.Service" /></th>
		<td>
			<div class="table-in-column table-in-column-wide">
				<wicket:message key="ServiceProfile.label.service.Binding" />
				<wicket:container wicket:id="existList"></wicket:container>
			</div>
			<div wicket:id="otherContainer" class="table-in-column th-table-in-column-wide">
   			<br/>
				<a wicket:id="isVisibleOther">
					<wicket:message key="ServiceProfile.label.service.Other" />
				</a>
				<div wicket:id="otherList"></div>
			</div>
		</td>
</wicket:panel>