<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="Keywords" content=" " />
      <meta name="Description" content="" />
            <link rel="stylesheet" type="text/css" href="css/test.css" />
   </head>
   <body>
   <form>
      <table class="form-container">
	      <tr>
	         <td class="left-container">Service Type :</td>
	         <td class="right-container"><select><option>Bilingual Dictionary</option></select></td>         
	      </tr>
	      <tr>
	         <td class="left-container">Supported Language :</td>
	         <td class="right-container"><select><option>English</option></select></td>
	      </tr>
	      <tr>
	         <td class="left-container">Using services :</td>
	         <td class="right-container"><select><option>Non Profit</option></select></td>
	      </tr>
	      <tr>
	         <td class="left-container">Control in provision :</td>
	         <td class="right-container"><select><option>Server Control</option></select></td>
	      </tr>
	      <tr>
	         <td class="left-container">Access Right :</td>
	         <td class="right-container"><input type="checkbox" /></td>
	      </tr>
      </table>
      <hr/>
      <div class="right-container">
         <input type="submit" value="Search" />
      </div>
   </form>
</body>
</html>
