<wicket:panel>
		<div wicket:id="listContainer">
			<div class="list-header">
				<h2><a name="atomic"><wicket:message key="LanguageServices.list.headline.AtomicServices" /></a></h2>
			</div>
         <div class="service-list-header-left-nofloat">
            <div wicket:id="atomicAccessRightPanel"></div>
         </div>
			<div class="no-float" wicket:id="atomicList"></div>

			<div class="list-header">
				<h2><a name="composite"><wicket:message key="LanguageServices.list.headline.CompositeServices" /></a></h2>
			</div>
			<div class="service-list-header-left-nofloat">
				<div wicket:id="compositeAccessRightPanel"></div>
			</div>
			<div class="no-float" wicket:id="compositeList"></div>
		</div>
</wicket:panel>