<wicket:extend>
	<h1><wicket:message key="LanguageGridOperator.node.message.change.Provider"/></h1>
	<div wicket:id="feedback" style="color:red;font-size: 12pt"></div>
	<div class="accent"><wicket:message key="LanguageGridOperator.node.message.change.provider.Confirm" /></div>
	<div class="table" wicket:id="profile"></div>
	<form wicket:id="form">
		<div class="btn-s">
			<input wicket:id="cancel" type="submit" wicket:message="value:Common.label.Cancel">
			<input wicket:id="submit" type="submit" wicket:message="value:Common.label.Ok">
		</div>
	</form>
</wicket:extend>