<wicket:panel>
				<tr>
					<th><wicket:message key="Common.label.resource.Name" /></th>
					<td>
						<input wicket:id="resourceName" type="text" class="form-text" maxlength="254" />
						<br />
		                <wicket:message key="Common.label.attention.InEnglish"/>
						<wicket:message key="ProvidingServices.language.resource.message.attention.Name" />
					</td>
				</tr>
				<tr>
					<th><wicket:message key="Common.label.resource.Type" /></th>
					<td>
						<div wicket:id="switchable">
							<select wicket:id="resourceType"></select>
							<span wicket:id="resourceTypeLabel"></span>
						</div>
					</td>
				</tr>
				<tr>
                <th><wicket:message key="Common.label.resource.Description"/></th>
                <td>
                	<textarea wicket:id="resourceDescription" class="form-text" rows="5"></textarea><br/>
	                <wicket:message key="Common.label.attention.InEnglish"/>
                </td>
            </tr>
				<tr>
					<th><wicket:message key="Common.label.Languages" /></th>
					<td class="table-in-column table-in-column-wide">
						<!-- 
                     <table wicket:id="rewritablePathContainer">
                        <wicket:container wicket:id="languagePathRepeater">
                        <tr>
                           <th>
                              <a wicket:id="metaAttributeNameLink"><span wicket:id="metaAttributeNameLabel"></span></a>
                              <div class="container-right">
                                 <a wicket:id="input">add language path</a>
                                 <div wicket:id="pathForm"></div>
                              </div>
                           </th>
                        </tr>
                        <tr wicket:id="addedPathRepeater">
                           <td><span wicket:id="addedLanguagePath"></span></td>
                        </tr>
                        </wicket:container>
                     </table>
						 -->
						<div wicket:id="languages"></div>
					</td>
				</tr>
				<tr>
					<th><wicket:message key="Common.label.Copyright" /></th>
					<td><input wicket:id="copyrightInfo" type="text" class="form-text" maxlength="254" /><br />
					<wicket:message key="Common.label.attention.InEnglish" /></td>
				</tr>
					<tr>
					<th><wicket:message key="Common.label.License" /></th>
					<td>
						<textarea wicket:id="licenseInfo" class="form-text" rows="5"></textarea><br />
		                <wicket:message key="Common.label.attention.InEnglish"/>
					</td>
				</tr>
</wicket:panel>		