<wicket:panel>
		<div wicket:id="listContainer">
			<div class="list-header">
				<h2><a name="atomic"><wicket:message key="LanguageServices.list.headline.AtomicServices" /></a></h2>
   			<a wicket:id="showAllAtomic"><wicket:message key="LanguageServices.list.link.sort.ShowAll"/></a>
			</div>
         <div class="service-list-header-left">
            <div wicket:id="atomicAccessRightPanel"></div>
         </div>
         <div class="service-list-header-right">
            <div wicket:id="atomicListSortPanel"></div>
         </div>
			<div class="no-float" wicket:id="atomicList"></div>

			<div class="list-header">
				<h2><a name="composite"><wicket:message key="LanguageServices.list.headline.CompositeServices" /></a></h2>
				<a wicket:id="showAllComposite"><wicket:message key="LanguageServices.list.link.sort.ShowAll"/></a>
			</div>
			<div class="service-list-header-left">
				<div wicket:id="compositeAccessRightPanel"></div>
			</div>
			<div class="service-list-header-right">
				<div wicket:id="compositeListSortPanel"></div>
			</div>
			<div class="no-float" wicket:id="compositeList"></div>
		</div>
</wicket:panel>