<wicket:panel>
<div class="table-in-column">
	<form wicket:id="fileForm">
		<div wicket:id="uploads-container">
			<table>
				<tr>
					<th><wicket:message key="Common.label.File">File</wicket:message></th>
					<td><input wicket:id="file" type="file" size="50" /></td>
				</tr>
				<tr>
					<th><wicket:message key="Common.label.URL">URL</wicket:message></th>
					<td><input wicket:id="url" type="text" class="form-text" /></td>
				<tr>
				<tr wicket:id="uploads">
					<td colspan=2 class="break-all">
						<span wicket:id="fileName"></span>&nbsp;:&nbsp;
						<a href="#" wicket:id="deleteFile">
							<wicket:message key="Common.label.Delete"></wicket:message>
						</a>
					</td>
				</tr>
			</table>
		</div>
	</form>
</div>
</wicket:panel>
