
	<wicket:extend>
	<div id="Container">
		<a class="top-link" href="./">
			<div id="Header">
				<div class="operatingOrganization" wicket:id="operatingOrganization">
					Organization Name
				</div>
				<div class="maintitle">
				  <span wicket:id="pageHeaderLabel">Service Grid</span><br/>&nbsp;<wicket:message key="Common.label.system.ID"/>
				</div>
			<!--div class="jumpmenu">
				<form name="jump" id="jump">
					Language <select wicket:id="localeSelect" />
				</form>
			</div-->
			</div>
		</a>

		<div wicket:id="SessionOperate">
			Display operate link to Login or Logout, and user-id in session
		</div>


		<div id="Contents">
			<!--***********Contents Left BLock***********-->
			<div id="Leftside">
				<div class="menuHeader">
					<span><wicket:message key="Menu.headline">Menu</wicket:message></span>
				</div>
				<div id="menu">
					<div wicket:id="nestedMenu">Nested Menus</div>
				</div>
				<div class="menuHeader"></div>
			</div>
			<!--***********Contents Right BLock***********-->
			<div id="Rightside">
				<div class="indent"><!--/indent--></div>
				<wicket:child>Page contents</wicket:child>
			</div>
			<!--***********Footer BLock***********-->
			<div id="Footer">
				<div wicket:id="ServiceManagerCopyright"></div>
				<div>Service Grid Server Software version <span wicket:id="Version"></span>.</div>
			</div>
		</div>
	</div>
	</wicket:extend>

