<wicket:extend>
	<h1><wicket:message key="Manual.headline.Manual" /></h1>
	<div wicket:id="feedback"></div>
	<div class="list-table">
	<table  summary="formtable">
		<tr>
			<th><wicket:message key="Manual.label.Language" /></th>
			<th><wicket:message key="Manual.label.FileName" /></th>
						<th><wicket:message key="Manual.label.FileSize" /></th>
			<th><wicket:message key="Manual.label.Download" /></th>
		</tr>
		<tr>
			<td scope="row"><wicket:message key="Manual.label.ManualEnglish"/></td>
			<td><span wicket:id="languageEnglish"></span></td>
			<td><span wicket:id="fileSizeEnglish"></span></td>
			<!-- td><img wicket:id="manualEnglish" src="./images/common/pdf.gif" class="link" /></td-->
			<td><a wicket:id="manual"><img wicket:id="manualImg"/></a></td>
		</tr>
	</table>
	</div>
</wicket:extend>