<wicket:extend>
	<form wicket:id="form">
		
		<div class="table">
	<table  summary="formtable" >
		<tr>
			<th scope="row"><wicket:message key="Common.label.user.Id"></wicket:message>:</th>
			<td><input class="form-text" wicket:id="userId" type="text" maxlength="254" /><br />
			<wicket:message key="Common.message.input.id.attention"></wicket:message></td>
		</tr>
		<tr>
			<th scope="row"><wicket:message key="Common.label.Password" />:</th>
			<td><input class="form-text" wicket:id="password" type="password" maxlength="254" /><br />
			<wicket:message key="Common.message.attention.input.Password"></wicket:message></td>
		</tr>
		<tr>
			<th scope="row"><wicket:message key="Common.label.password.Confirm" />:</th>
			<td><input class="form-text" wicket:id="confirm" type="password" maxlength="254" /><br />
			<wicket:message key="Common.message.attention.input.Password"></wicket:message></td>
		</tr>
	</table>
	</div>
		
		<div class="table">
			<table summary="formtable">
			<tr>
				<th scope="row"><wicket:message key="Common.label.Organization" /></th>
				<td><textarea class="form-text" wicket:id="organization" rows="5"></textarea><br />
				<wicket:message key="Common.label.attention.InEnglish"></wicket:message></td>
			</tr>
			<tr>	<th scope="row"><wicket:message key="Common.label.ResponsiblePerson" /></th>
				<td><input class="form-text" wicket:id="representative" type="text" maxlength="254" /><br />
				<wicket:message key="Common.label.attention.InEnglish"></wicket:message></td>
			</tr>
			<tr>
				<th scope="row"><wicket:message key="Common.label.MailAddress" /></th>
				<td><input class="form-text" wicket:id="emailAddress" type="text" maxlength="254" /><br />
				</td>
			</tr>
			<tr>
				<th scope="row"><wicket:message key="Common.label.Homepage" /></th>
				<td><input class="form-text" wicket:id="homepageUrl" type="text" maxlength="254" /><br />
				</td>
			</tr>
			<tr>
				<th scope="row"><wicket:message key="Common.label.Address" /></th>
				<td><textarea class="form-text" wicket:id="address" rows="5"></textarea><br />
				<wicket:message key="Common.label.attention.InEnglish"></wicket:message></td>
			</tr>
			<tr>
				<th scope="row"><wicket:message key="Common.label.Default.UseType" /></th>
				<td><select wicket:id="useService"></select></td>
			</tr>
			<tr>
				<th scope="row"><wicket:message key="Common.label.Default.AppType" /></th>
				<td><select wicket:id="provision"></select></td>
			</tr>
		</table>
		</div>
		<div class="table">
			<table summary="formtable">
			<tr>
				<th scope="row">Terms of Use<!-- TODO create and use resource string. --></th>
				<td><div style="overflow: auto; width: 500px; height: 600px; background: white">
<center>Federated Service Grid Terms of Service (for User)</center>
<p>
By using the Federated Service Grid provided by the Service Grid Operators (the “Operators”)
 identified in Article 6 below, you are agreeing to these Terms of Service (the “Terms”).
<p>
<p>
Article 1	Definitions
<ol style="list-style: decimal; padding-left: 30px">
<li style="">The “Federated Service Grid” is a software infrastructure designed to
	 accumulate and share Web services.</li>
<li>The “Resource” is data or software, which is used through the Web 
	services that are accumulated in the Federated Service Grid. The “Service” is a Web service that is realized by the procedures that allow the use of the Resources, or invoke several Services.</li>
<li>The “Terms of Service Use” are the terms and conditions with which you must comply when using Services. “License Conditions” are the conditions with which you must comply when using Resources.</li>
<li>The “Statistics of Use” is the statistical information about your use of Resources and Services that the Operators record. The Statistics of Use shall not include any transferred data or personal identifying information regarding the senders of data. Personal identifying information is information to identify an individual such as full name, e-mail address, postal address, telephone number, and IP address.</li>
</ol>

<p>
<p>
Article 2	Your Account
<ol style="list-style: decimal; padding-left: 30px">
<li>You shall complete the required form and create a User ID and password needed to access the Federated Service Grid. </li>
<li>You shall keep your password confidential.</li>
<li>You shall promptly update your Federated Service Grid account with any changes to the information you provided to obtain the account.</li>
<li>You are responsible for all activity taking place through your account.</li>
</ol>

<p>
<p>
Article 3	Service Use
<ol style="list-style: decimal; padding-left: 30px">
<li>You shall use Resources and Services in compliance with the License Conditions and the Terms of Service Use in the profiles of those Resources and Services and in accordance with any applicable local and national laws and regulations.</li>
<li>You understand and agree that your Federated Service Grid Statistics of Use will be provided to the Operators. </li>
</ol>

<p>
<p>
Article 4	Operation of the Federated Service Grid
<ol style="list-style: decimal; padding-left: 30px">
<li>The Operator may, at any time, temporarily or permanently, suspend all or any part of the Federated Service Grid for any reason without notice to you.</li>
<li>All notices from the Operators will be provided on the Federated Service Grid website or by e-mail.</li>
<li>Neither the Operators nor the Resource and Service Providers warrant any accuracy, security, or usability of Resources and Services or the results from the use of Resources and Services, nor are they liable for any direct or indirect damages arising out of the use of the Federated Service Grid. The Operators have no liability for any disputes between you and third parties arising out of, or in relation to, the use of the Federated Service Grid. </li>
</ol>

<p>
<p>
Article 5	General
<ol style="list-style: decimal; padding-left: 30px">
<li>Your access to the Federated Service Grid may be terminated by the Operators upon non-compliance with the Terms or upon any misuse of the Federated Service Grid by you. Misuse includes interfering with or accessing the Federated Service Grid by a method other than through the interface and the instructions provided by the Operators.</li>
<li>The Terms shall be governed by, and interpreted in accordance with, the laws of the jurisdiction where the Operator is located. In the event of any dispute between the Operator and you arising out of or in relation to the Terms, the parties consent to the exclusive jurisdiction of a court located in the jurisdiction where the defendant in the dispute is located.  </li>
</ol>

<p>
<table style="background: white" border="1">
<caption>[Service Grid Operator]</caption>
<tr><td style="background: white">Corporate Name</td><td style="background: white">Kyoto University</td></tr>
<tr><td style="background: white">Name</td><td style="background: white">Language Grid Kyoto Operation Center,
Department of Social Informatics, Kyoto University</td></tr>
<tr><td style="background: white">Address</td><td style="background: white">Yoshida-Honmachi, Sakyo-ku, Kyoto 606-8501, Japan</td></tr>
<tr><td style="background: white">Website</td><td style="background: white">http://langrid.org/operation</td></tr>
<tr><td style="background: white">Representative</td><td style="background: white">Toru Ishida</td></tr>
<tr><td style="background: white">Contact E-mail</td><td style="background: white">operation@langrid.org</td></tr>
</table>

				</div></td>
			</tr>
				<tr>
				<th scope="row"><wicket:message key="Common.label.Term" /></th>
				<td><textarea readonly="readonly" class="form-text" wicket:id="term" rows="5"></textarea><br />
				<input wicket:id="checkterm" type="checkbox"><wicket:message key="Common.label.attention.CheckTerm"></wicket:message></td>
			</tr>
			</table>
		</div>
		
		<div class="btn-s">
			<input wicket:id="cancel" type="submit" wicket:message="value:Common.label.Cancel">
			<input type="submit" wicket:message="value:Login.label.Register"/>
		</div>
		<br>
	</form>
	<div wicket:id="feedback"></div>
</wicket:extend>
