<wicket:panel>
		<tr>
			<td><a wicket:id="nodeName"><span wicket:id="nodeNameLabel"></span></a></td>
			<td><span wicket:id="nodeUrl"></span></td>
			<td><a wicket:id="provider"><span wicket:id="providerLabel"></span></a></td>
			<td><span wicket:id="status"></span></td>
		</tr>
		<tr>
			<td colspan="4" align="right" class="btn-area">
				<input type="button" class="btn-on-large" wicket:id="change" wicket:message="value:Common.label.Change"/>
				<input type="button" class="btn-on" wicket:id="edit" wicket:message="value:Common.label.Edit"/>
			</td>
		</tr>
</wicket:panel>