<wicket:extend>
	<h1><wicket:message key="LanguageGridOperator.domainSettings.headline.Edit.Complete" /></h1>
	<div wicket:id="feedback"></div>

	<div class="table">
		<table>
			<tr>
				<th><wicket:message key="LanguageGridOperator.domainSettings.table.DomainId" /></th>
				<td><span wicket:id="id"></span></td>
			</tr>
			<tr>
				<th><wicket:message key="LanguageGridOperator.domainSettings.table.DomainName" /></th>
				<td><span wicket:id="name"></span></td>
			</tr>
			<tr>
				<th><wicket:message key="LanguageGridOperator.domainSettings.table.DomainDescription" /></th>
				<td><span wicket:id="description"></span></td>
			</tr>
		</table>
	</div>
   <div class="btn-s">
      <input type="button" wicket:id="back" wicket:message="value:Common.label.Back" />
   </div>
</wicket:extend>
