<wicket:panel>
	<div class="list-table">
		<table summary="formtable" class="list-user">
		   <tr>
		      <th><wicket:message key="LanguageGridOperator.resourcemetaattribute.table.Id"/></th>
		      <th><wicket:message key="LanguageGridOperator.resourcemetaattribute.table.Name"/></th>
		      <th><wicket:message key="LanguageGridOperator.resourcemetaattribute.table.Description"/></th>
		   </tr>
         <tr>
             <td>-</td>
             <td>-</td>
             <td>-</td>
         </tr>
		</table>
	</div>
</wicket:panel>