
<wicket:panel>
		<table summary="formtable">
			<tr>
				<th><wicket:message key="Common.label.service.Id"/></th>
				<td class="break-all"><span wicket:id="idLabel"></span></td>
			</tr>
			<tr>
				<th><wicket:message key="Common.label.service.Name"/></th>
				<td><span wicket:id="nameLabel"></span></td>
			</tr>
			<tr>
				<th><wicket:message key="Common.label.service.Type"/></th>
				<!-- <td><span wicket:id="typeLabel"></span></td>  -->
				<td><a wicket:id="typeLink"><span wicket:id="typeLinkLabel"></span></a></td>
			</tr>
			<tr>
				<th><wicket:message key="Common.label.service.Description"/></th>
				<td><div wicket:id="descriptionLabel"></div></td>
			</tr>
			<tr>
				<th><wicket:message key="ServiceProfile.label.service.MultiType"/></th>
				<td><wicket:message key="ServiceProfile.label.service.type.Atomic"/></td>
			</tr>
			<tr>
				<th><wicket:message key="Common.label.Languages"/></th>
				<td><span wicket:id="languagePath"></span></td>
			</tr>
			<tr>
	         <th><wicket:message key="Common.label.UseType" /></th>
	         <td><span wicket:id="useTypes"></span></td>
	      </tr>
	      <tr>
	         <th><wicket:message key="Common.label.ApplicationType" /></th>
	         <td><span wicket:id="appTypes"></span></td>
	      </tr>
	      <tr>
	         <th><wicket:message key="Common.label.application.federal" /></th>
	         <td><span wicket:id="allowFederation"></span></td>
	      </tr>
	      <tr>
            <th scope="row"><wicket:message key="Common.label.PermittedUsers" /></th>
            <td><span wicket:id="membersOnlyLabel"></span></td>
         </tr>
         <tr wicket:id="membershipContainer">
            <th scope="row"><wicket:message key="Common.label.HowToGetMembership" /></th>
            <td><span wicket:id="howToGetMembershipLabel"></span></td>
         </tr>
			<tr>
				<th><wicket:message key="Common.label.WSDL"/></th>
				<td class="break-all"><div wicket:id="wsdlLink"></div></td>
				<!-- 
				<td><a wicket:id="wsdlLink"><span wicket:id="wsdlLinkLabel"></span></a></td>
				 -->
			</tr>
			<tr>
				<th><wicket:message key="Common.label.Homepage.SourceCode"/></th>
				<td class="break-all"><a wicket:id="sourceLink"><span wicket:id="sourceLinkLabel"></span></a></td>
			</tr>
			<tr wicket:id="InUseList"></tr>
			<tr>
				<th><wicket:message key="Common.label.Provider"/></th>
				<td><a wicket:id="providerLink"><span wicket:id="providerLinkLabel"></span></a></td>
			</tr>
			<tr>
				<th><wicket:message key="Common.label.registration.Date"/></th>
				<td><span wicket:id="registreredDateLabel"></span></td>
			</tr>
			<tr>
				<th><wicket:message key="Common.label.LastUpdateDate"/></th>
				<td><span wicket:id="updatedDateLabel"></span></td>
			</tr>
			<tr>
				<th><wicket:message key="Common.label.Status"/></th>
				<td><span wicket:id="statusLabel"></span></td>
			</tr>
		</table>
</wicket:panel>
