<wicket:panel>
		<tr>
			<td><a wicket:id="serviceName"><span wicket:id="labelServiceName"></span></a></td>
			<td><a wicket:id="serviceType"><span wicket:id="labelServiceType"></span></a></td>
			<td><span wicket:id="languages"></span></td>
			<td><a wicket:id="provider"><span wicket:id="labelProvider"></span></a></td>
			<td><span wicket:id="status"></span></td>
			
		</tr>
		<tr>
			<td colspan="5" align="right" class="btn-area">
				<input class="btn-on" type="button" wicket:id="monitor" wicket:message="value:Common.label.Monitor" />
			</td>
		</tr>
</wicket:panel>