<wicket:panel>
	<tr>
		<th style="width:16%;"><wicket:message key="Common.label.LastAccessDate" /></th>
		<th style="width:25%;"><wicket:message key="Common.label.User" /></th>
		<th style="width:11%;"><wicket:message key="ProvidingServices.language.service.label.access.Count" /></th>
		<th style="width:17%;"><wicket:message key="Common.label.data.Transfer" /></th>
		<th style="width:11%;"><wicket:message key="Common.label.Limit" /></th>
		<th style="width:20%;"><wicket:message key="Common.label.service.Name" /></th>
	</tr>
</wicket:panel>