<wicket:extend>
	<h1><wicket:message key="LanguageGridOperator.gridSettings.headline.gridSettings.Complete" /></h1>
	<div wicket:id="feedback"></div>

	<p class="accent"><wicket:message key="LanguageGridOperator.gridSettings.table.Headline" /></p>
	<div class="table">
		<table>
			<tr>
				<th><wicket:message key="LanguageGridOperator.gridSettings.table.Label" /></th>
				<td><span wicket:id="commercial"></span></td>
			</tr>
		</table>
	</div>

	<p class="accent"><wicket:message key="LanguageGridOperator.gridSettings.table.AutoApprove.Setting" /></p>
	<div class="table">
		<table>
			<tr>
				<th><wicket:message key="LanguageGridOperator.gridSettings.table.AutoApprove" /></th>
				<td><span wicket:id="enabled"></span></td>
			</tr>
		</table>
	</div>

	<p class="accent"><wicket:message key="LanguageGridOperator.headline.PreventionOfFraudulentUsage" /></p>
	<div class="table">
		<table>
			<tr>
				<th><wicket:message key="LanguageGridOperator.message.periodForPassword.1" /></th>
				<td>
					<span wicket:id="days" />&nbsp;
					<wicket:message key="LanguageGridOperator.message.periodForPassword.2" />
				</td>
			</tr>
			<tr>
				<th><wicket:message key="LanguageGridOperator.message.criteriaForDetermining" /></th>
				<td class="table-in-column">
					<table>
						<tr wicket:id="repeatingView">
							<td>
								<span wicket:id="value"></span>
							</td>
						</tr>
						<tr wicket:id="clear-container">
							<td>
								<span wicket:id="cleared"></span>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</wicket:extend>