<wicket:extend>
	<h1><wicket:message key="LanguageGridOperator.headline.PreventionOfFraudulentUsage" /></h1>
	<div wicket:id="feedback"></div>
	<form wicket:id="form">
	<font color="#3A32B8"><wicket:message key="LanguageGridOperator.message.periodForPassword.1" />:</font>
	<input wicket:id="limitDay" size="5" maxlength="3" />&nbsp;<wicket:message key="LanguageGridOperator.message.periodForPassword.2" />
	<br><br>
	<table width="70%" summary="formatable">
	<p class="accent"><wicket:message key="LanguageGridOperator.message.criteriaForDetermining" />:</p>
		<tr>
			<td>
			<div wicket:id="limitsContainer">
				<wicket:container wicket:id="limits"></wicket:container>
			</div>
			<div align="right"><a wicket:id="more"><wicket:message key="Common.label.Add" /></a></div>
			</td>
		</tr>
	</table>
	<div class="btn-s">
	<input type="submit" wicket:id="clear" wicket:message="value:Common.label.Clear" />
	<input type="submit" wicket:id="set" wicket:message="value:Common.label.Set" /></div>
	</form>
	<!--/table-->
</wicket:extend>